* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Serif', serif;
    list-style: none;
    text-decoration: none;
}

/* color  */
:root {
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-bg-section: #f6f6f6;
    --color-bg-header: #2a5ee8;
    --color-text-color: #7289da;
    --color-primary-light: #49555b;
}

/* utility  */
/* .debug{
    border: 1px solid black;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.padding-left-right {
    padding: 0 5px;
}

.button {
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 5px 10px;
}

.text-lightblue {
    color: var(--color-text-color);
}
.flex-wrap{
    flex-wrap: wrap;
}
.text-button-white{
    color: var(--color-secondary);
}

.text-button-black{
    color: var(--color-primary);
}

.padding-20p{
    padding: 20px;
}
.row-gap{
    row-gap: 20px;
}

/* --------------------------- header ------------------------ */
header {
    background-color: var(--color-bg-header);
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-header {
    display: flex;
    flex-wrap: wrap;
}

.flex-ul {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

#hero>div>div:nth-child(2) {
    margin: auto;
    padding: 30px 30px 0 30px;
    color: var(--color-secondary);
    line-height: 25px;
    text-align: center;
}

h1 {
    margin: auto;
    padding: 100px 0 10px 0;
    font-size: 50px;
    color: var(--color-secondary);
}

nav>div {
    padding: 15px;
    color: var(--color-secondary);
}

#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position-x: 30%;
}

.hero-content {
    max-width: 800px;
}

ul li>a {
    display: block;
    margin: 0 12px;
    color: var(--color-secondary);
}

ul li>a:hover {
    text-decoration: underline;
}

.button {
    color: var(--color-primary);
}

.button:hover {
    color: var(--color-text-color);
    box-shadow: 5px 5px 20px var(--color-primary);
}

.flex-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin: auto;
    margin-top: 10px;
}

#dw-mac:hover {
    box-shadow: 5px 5px 20px var(--color-primary);
}

#open-discord:hover {
    box-shadow: 5px 5px 20px var(--color-primary);
}

#hero>div>div>#dw-mac {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 5px 10px;
}

#hero>div>div>#open-discord {
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
/* ------------------------ download header ----------------------- */
#download > header {
    background-color: var(--color-primary);

}
#download > header {
    background-color: var(--color-primary);
}
#download #hero{
    background-color: var(--color-primary);
    background-image: none;
    min-height: 500px;
    padding: 50px;
}
#download h1{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    padding-top: 20px;
}

.dw-mac{
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--color-secondary);
    background-color: var(--color-text-color);
}

#download #dw-mac:hover {
    box-shadow: 5px 5px 20px var(--color-primary);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color-secondary);
}

#download .box{
    max-width: 400px;
    padding: 20px 0;
}

.box > span{
    font-size: 10px;
    padding-left: 20px;
}

/* ------------------------ main ----------------------- */
section {
    padding: 60px 0;
}

.flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.flex-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

h2 {
    font-size: 2em;
    padding: 30px 30px 10px 0;
}

.box {
    max-width: 300px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.re-size {
    width: 45%;
    min-width: 300px;
}

.flex-section-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap:wrap;
}

.text-four {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.re-size-2 {
    width: 85%;
}

.flex-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center top;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 28px;
}

.download {
    background-color: var(--color-text-color);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--color-secondary);
    display: inline-block;
    font-size: 15px;
}

.pre-footer {
    text-align: center;
    padding-bottom: 70px;
}

.wave {
    min-width: 1200px;
    background-image: url(../img/wave.svg);
    filter: opacity(0.035) drop-shadow(0 0 var(--color-bg-section));
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wave-2 {
    filter: opacity(0.035) drop-shadow(0 0 var(--color-bg-section));
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 1200px;
    background-image: url(../img/wave.svg);
    transform: rotate(180deg);
}
.pre-footer > .download:hover{
    box-shadow: 5px 5px 20px var(--color-primary);
    color: black;
}

.even {
    background-color: var(--color-bg-section);
}

/* ----------------------- main download ---------------------- */
.flex-container{
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
    padding: 70px 30px;
}
h5{
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}
.flex-section-download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 700px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--color-bg-section);
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-download{
    object-fit: none;
    object-position: 50% 200px;
    width: 100%;
} 
.padding-top{
    padding-top: 100px;
}

.right-column{
    margin-top: 200px;
    width: 50%;
}
.left-column{
    width: 50%;
}
.layout-1{
   
}
.layout-2{
    text-align: center;
    padding-top: 150px;
}
.button-download{
    background-color: var(--color-primary);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--color-secondary);
}
.last-box-download{
    max-width: 100%;
}
/* -------------------------- footer -----------------------  */
footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.flex-footer {
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
}

.footer-top {
    padding: 30px 0 20px 0;
    border-bottom: 1px solid var(--color-text-color);
    margin-bottom: 20px;
}

.flex-ita {
    display: flex;
}

#ita {
    width: 30px;
}

.margin-10p {
    margin: 10px 5px 10px 5px;
}
div > a > .fa-brands{
    color: var(--color-secondary);
}

.margin-arrow {
    margin-top: 13px;
}

h4 {
    font-size: 30px;
    color: var(--color-text-color);
}

ul li {
    padding: 7px 0 7px 0;
}

.margin-20p {
    margin: 20px 10px 10px 10px;
}

#logo {
    padding: 10px 0 0px 0;
    margin-bottom: 30px;
}

.button-2 {
    color: var(--color-secondary);
    background-color: var(--color-text-color);
    border-radius: 20px;
    padding: 5px 10px;
    display: block;
    margin-bottom: 30px;
}
.button-2:hover{
    background-color: #89a0f4;
    box-shadow: 5px 5px 20px black;
    color: black;
}


.flex-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#language{
    border-radius: 4px;
    background-color: var(--color-text-color);
    border: none;
}